<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="ccw.launching.clojure">
<booleanAttribute key="CCW_ATTR_CLOJURE_INSTALL_REPL" value="false"/>
<intAttribute key="CCW_ATTR_CLOJURE_SERVER_LISTEN" value="-1"/>
<stringAttribute key="CCW_ATTR_FILES_LAUNCHED_AT_STARTUP" value="/grokkery/src/compile-clj.clj"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/grokkery/lib/clojure.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="clojure.main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="grokkery"/>
</launchConfiguration>
